html {
	font:normal 100%/1.2em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
}

input[type="submit"]
{
	border: #DDEEFF 1px solid;
	width: 30%;
}

#menu{
	height: 1.8em ;
}

#menu li {
	list-style-type: none;
	list-style-image:none;
	float: left ; 
	text-align: center;
    width: 200px ; 
    border: 1px solid; 
    margin-right: 1px ; 
    color: white ; 
    background: black ;
}

#menu li a {
	text-decoration:none;
	color: white;
}